[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/vim/bundle/tlib_vim"]
	path = dotfiles/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotfiles/vim/bundle/vim-addon-mw-utils"]
	path = dotfiles/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotfiles/vim/bundle/vim-autoclose"]
	path = dotfiles/vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "dotfiles/vim/bundle/vim-snipmate"]
	path = dotfiles/vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "dotfiles/vim/bundle/vim-snippets"]
	path = dotfiles/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
