[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/vim/bundle/tlib_vim"]
	path = dotfiles/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotfiles/vim/bundle/vim-addon-mw-utils"]
	path = dotfiles/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
