[submodule "dotfiles/vim/bundle/vim-airline"]
	path = dotfiles/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "dotfiles/vim/bundle/tlib_vim"]
	path = dotfiles/vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "dotfiles/vim/bundle/vim-addon-mw-utils"]
	path = dotfiles/vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "dotfiles/vim/bundle/vim-autoclose"]
	path = dotfiles/vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "dotfiles/vim/bundle/vim-snipmate"]
	path = dotfiles/vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "dotfiles/vim/bundle/vim-snippets"]
	path = dotfiles/vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "dotfiles/vim/bundle/vim-latex-live-preview"]
	path = dotfiles/vim/bundle/vim-latex-live-preview
	url = git@github.com:xuhdev/vim-latex-live-preview.git
[submodule "dotfiles/vim/bundle/fonts"]
	path = dotfiles/vim/bundle/fonts
	url = https://github.com/powerline/fonts.git
[submodule "dotfiles/vim/bundle/vim-airline-themes"]
	path = dotfiles/vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "dotfiles/vim/bundle/vim-fugitive"]
	path = dotfiles/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugin/fzf"]
	path = plugin/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "dotfiles/vim/bundle/vim-solidity"]
	path = dotfiles/vim/bundle/vim-solidity
	url = https://github.com/tomlion/vim-solidity.git
[submodule "plugin/powerline-fonts"]
	path = plugin/powerline-fonts
	url = git@github.com:powerline/fonts.git
